
  <h3 style="position:relative; font-size: xx-large; left: 5%;top: 5%">INFO</h3>
  <h2 style="position:relative; color: blue;font-size: x-large; left: 5%;top: 14%">Info sull'app</h2>
  <strong style="position:relative; font-size : 22px ;left: 6%; top:21%">Versione: 1.0.0</strong>
  <!--<p style="position:relative; font-size: 14px; left: 33%; top:20%">1.0.0</p>-->
<md-list>
  <md-list-item class="md-3-line md-long-text">
    <div class="md-list-item-text">
      <h3>A COSA SERVE QUESTA APP?</h3><br>
      <em>
        Angel è un applicativo in grado di segnalare in una mappa pericoli, dati, avvenimenti o situazioni.
        Ogni segnalazione effettuata nella propria app potrà avere un timer con il quale scomparirà una volta terminato . E ogni segnalazione viene inserita nella mappa GLOBALE dove tutti gli utenti possono vedere la segnalazione.
      </em>
    </div>
  </md-list-item>
  <md-list-item class="md-3-line md-long-text">
    <div class="md-list-item-text">
      <h3>FUNZIONI PRINCIPALI E 'REGOLE' DELL'APP</h3><br>
      <em>
        L'app permette di segnalare la posizione attuale nella mappa con alcune indicazione (tipo di peicolo,ecc...) così che tutti gli utenti possano vedere le varie segnalazione di ogni singolo utente. Se un utente abusasse eccessivamente del servizio di quest'app potremmo prendere dei provvedimenti bannando momentaneamente o permanentemente l'account dell'utente desiderato.
      </em>
    </div>
  </md-list-item>
  <md-list-item class="md-3-line md-long-text">
    <div class="md-list-item-text">
      <h3>CHI SIAMO ?</h3><br>
      <p>
        <a href="http://veniceprojectcenter.org/">VeniceProjectCenter</a><br>
        <a href="http://www.formaurbis.com/">FormaUrbis</a>
      </p>
    </div>
  </md-list-item>
</md-list>

