<div layout="column" style="height: 10%;" ng-cloak>
 <section layout="row" flex>
  <md-sidenav class="md-sidenav-left" md-component-id="left"
               md-whiteframe="4">
   <md-toolbar class="md-theme-indigo">
        <h8 style="position: absolute;top: 25%;right: 42%;">Menu</h8>
    </md-toolbar>
      <md-content layout-margin>
          <ul>
          <!--toggleLeft() -->
            <li>
            <md-button ng-click="ctl.bLink('page_list')" style= "right: 0%; width: 100%; position: fixed;height: 7%;top: 8%;margin: 0px;">{{title1}}</md-button>
            </li>
          <li><md-button ng-click="ctl.bLink('settings')" style="right: 0%;width: 100%;position: fixed;height: 7%;top: 15%;margin: 0px;">{{title2}}</md-button></li>
          <li><md-button ng-click="ctl.bLink('about')" style= "right: 0%;width: 100%;position: fixed;height: 7%;top: 22%;margin: 0px;">{{title3}}</md-button></li>
          </ul>
        <md-button style="right: 0%; width: 100%;position: fixed;height: 7%;bottom: 0%;margin: 0px;" ng-click="toggleLeft()" class="md-accent">
          Close 
        </md-button>
      </md-content>
    </md-sidenav>
  </section>
</div>

<head>
  <h3 style="position:absolute; font-size: xx-large; left: 5%;top: 5%">INFO</h3>
  <h2 style="position:absolute; color: blue;font-size: x-large; left: 5%;top: 14%">Info sull'app</h2>
  <strong style="position: absolute; font-size : 22px ;left: 6%; top:21%">Versione:</strong>
  <p style="position: absolute; font-size: 14px; left: 33%; top:20%">1.0.0</p>
</head>

 <md-list layout-margin class="listabout" style="position: absolute;left: -4%; top: 21%; text-align: left;">
          <ul>
          <!--toggleLeft() -->
            <li>
             <md-list-item"><h3>A COSA SERVE QUESTA APP?</h3>
                <p>QUESTA APP TI PERMETTE DI ...</p>
              </md-list-item>
            </li>
            <li>
              <md-list-item"><h3>SE NON SAI CHE FARE DELLA TUA VITA</h3>
                <p>CHIEDI A FUSARO</p>
              </md-list-item>
            </li>
            <li>
              <md-list-item"><h3>PER MALFUNZIONAMENTI O RECENSIONI</h3>
                <p>CONTATTATE IL CINESE</p>
              </md-list-item>
            </li>
              <md-list-item style="right: 0%; width: 100%;position: fixed;height: 7%;bottom: 0%;margin: 0px;" class="md-accent">
        </md-list-item>
      </md-list>