<md-content>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h3 class="titolo1" >Angel</h3>
      </div>
    </md-toolbar>
</md-content>

	<h3 style="text-align: center;">
	Devi verificare la Email per entrare,
	quindi apri con il tuo cellulare la app giusta
	e clicca il link.
	Appena sei sicuro di averlo fatto clicca qui sotto
	</h3>

<md-button class="md-raised md-primary borderbut" style="position: fixed; top: 35%; right: 35%; " ng-click="ctl.return()">Verificata</md-button>
