<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
  <md-toolbar class="md-theme-indigo" class="tool">
    <h3 class="titolo2">Menu</h3>
  </md-toolbar>
  <md-content layout-margin>
    <ul>
      <li><a md-button href="#!/map"      ng-click="toggleLeft()" class="lefttolbar" style="top:9%  ">MAPPA   </a></li>
      <li><a md-button href="#!/settings" ng-click="toggleLeft()" class="lefttolbar" style="top: 16%">SETTINGS</a></li>
      <li><a md-button href="#!/about"    ng-click="toggleLeft()" class="lefttolbar" style="top: 23%">ABOUT   </a></li>
    </ul> 
    <md-button class="lefttolbar" style="bottom: 0%;" ng-click="toggleLeft()" class="md-accent">Close</md-button>
  </md-content>
</md-sidenav>