<ng-md-icon class="md-raised lower_button" icon="add_circle" ng-click="toggleRight()" size="45" style="z-index: 10;" ></ng-md-icon >
<ng-map ng-init="ctl.loadMap()" id="map" zoom="12" center="[{{ctl.posVe.lat}}, {{ctl.posVe.lng}}]" class="mappa">
  <!--marker ng-repeat="pos in ctl.mapSrv.markers" position="current" id="{{ctl.pos}}"></marker-->
    <custom-marker ng-repeat="marker in ctl.mapSrv.markers" 
      position="{{marker.position}}"
      id="marker_{{marker.id}}" 
      on-click="ctl.display_alert($event, marker ,'ok',marker.icona)">
      <img ng-src="{{marker.icona}}" style="width:32px; height:32px;"/>
    </custom-marker>
</ng-map>



