<style>
  .gm-fullscreen-control{
    display: none;
  }
  .lefttolbar{
    right: 0%; 
    width: 100%; 
    position: fixed;
    height: 7%;
    margin: 0px;
  }
  .mappa{
    top: 8%; 
    height: 92%;
    display: block; 
    width: 100%;
    z-index: 1; 
    position: fixed;
  }
  .titolo{
    position: absolute;
    top: 25%;
    right: 42%;
  }
</style>
<md-content>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <ng-md-icon class="md-raised" icon="list" ng-click="toggleLeft()" size="40"></ng-md-icon>
        <h8 class="titolo">Angel</h8>
      </div>
    </md-toolbar>
</md-content>

  <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
   <md-toolbar class="md-theme-indigo">
      <h8 class="titolo">Menu</h8>
    </md-toolbar>
      <md-content layout-margin>
          <ul>
          <li><md-button class="lefttolbar" style="top:9%">MAPPA</md-button></li>
          <li><md-button ng-click="ctl.bLink('/settings')" class="lefttolbar" style="top: 16%">SETTINGS</md-button></li>
          <li><md-button ng-click="ctl.bLink('/about')" class="lefttolbar" style= "top: 23%">ABOUT</md-button></li>
          </ul> 
        <md-button class="lefttolbar" style="bottom: 0%;" ng-click="toggleLeft()" class="md-accent">Close</md-button>
      </md-content>
    </md-sidenav>

<ng-md-icon class="md-raised lower_button" icon="add_circle" ng-click="toggleRight()" size="45" style="z-index: 10;" ></ng-md-icon >
<ng-map id="map" zoom="12" center="[{{ctl.posVe.lat}}, {{ctl.posVe.lng}}]" class="mappa"></ng-map>


  <md-sidenav class="md-sidenav-right" md-component-id="right" md-whiteframe="4">
   <md-toolbar class="md-theme-indigo">
        <h8  class="titolo ">Icone</h8>

    </md-toolbar>
      <md-content layout-margin style="height: calc( 100% - 100px);">
        <img class="md-primary md-raised" src="Signal/exclamation.png" ng-click="showConfirm($event,'Pericolo generico')"></img>
        <img class="md-primary md-raised" src="Signal/burn.png" ng-click="showConfirm($event,'Pericolo Incendio')"></img>
         <img class="md-primary md-raised" src="Signal/chinese.png" ng-click="showConfirm($event,'Presenza Cinese')"></img>
         <img class="md-primary md-raised" src="Signal/garbage.png" ng-click="showConfirm($event,'Presenza Spazzatura')"></img>
        <md-button ng-click="toggleRight()" class="md-accent" style="position: absolute;bottom: 0; left: 19%;" >
          Close this Sidenav
        </md-button>
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <div layout="column" layout-align="top center">
      </div>
    </md-content>
  </section>
</div>


