<style>
  .lefttolbar{
    right: 0%; 
    width: 100%; 
    position: fixed;
    height: 7%;
    margin: 0px;
  }
  .titolo{
    position: absolute;
    top: 25%;
    right: 39%;
  }
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}
</style>
<md-content>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <ng-md-icon class="md-raised" icon="list" ng-click="toggleLeft()" size="40"></ng-md-icon>

        <h8 class="titolo">Angel</h8>
      </div>
    </md-toolbar>
</md-content>
<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
   <md-toolbar class="md-theme-indigo">
      <h8 class="titolo">Menu</h8>
    </md-toolbar>
      <md-content layout-margin>
          <ul>
          <li><md-button ng-click="ctl.bLink('map')" class="lefttolbar" style="top:9%">MAPPA</md-button></li>
          <li><md-button  class="lefttolbar" style="top: 16%">SETTINGS</md-button></li>
          <li><md-button ng-click="ctl.bLink('about')" class="lefttolbar" style= "top: 23%">ABOUT</md-button></li>
          </ul> 
        <md-button class="lefttolbar" style="bottom: 0%;" ng-click="toggleLeft()" class="md-accent">Close</md-button>
      </md-content>
    </md-sidenav>
<body >
<div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div>
<p id="p1" ng-init="ctl.set1()">ciao </p>
<p id="p2" ng-init="ctl.set2()">ciao </p>
<md-button id="change" ng-init="ctl.set3()" style="visibility: hidden;" class="md-raised md-primary" ng-click="ctl.changepassword()">Cambio passw? </md-button>

<!-- <div onload="showPorco()"></div>  CHE È STA CAFONATA?????????? -->

