<md-content>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h3 class="titolo1">Angel</h3>
      </div>
    </md-toolbar>
</md-content>

	<h3 style="text-align: center;">
	Termini e condizioni
	</h3>
	<h5 style="text-align: center;"> Finalità del servizio</h5>
	<ul style ="font-size:10px;">
	<li>
	<b> Angel </b> <br>
	è un’Applicazione mobile (di seguito denominate anche “AngelApp”) distribuita attraverso gli app store delle 		piattaforme mobili per le quali è disponibile. La seguente  App consente all’Utente di accedere, tramite il proprio 		dispositivo mobile alla mappatura , con modalità di visualizzazione e segnalazione di determinati luoghi / costruzioni 		tramite dei marker. 
	</li>
	<li>
	<b> Titolarità della App Angel </b><br>
	L'App  Angel, il relativo sito, l’architettura, i loghi, la grafica, i testi, sono concessi in licenza all’Associazione non riconosciuta senza scopo di lucro Urbis, con sede in Venezia (Ve), Cannaregio 4400  , Tutti i diritti inerenti e conseguenti, ivi compresi, ma senza limitazioni, i diritti di proprietà intellettuale e tutti i diritti relativi sfruttamento, sono riservati.
	</li>
	<li>
	<b> Condizioni per l’uso del Servizio </b> <br>
	L'utilizzo del Servizio è consentito esclusivamente ad Utenti persone fisiche , titolari delle credenziali di accesso al portale , inserite con successo nella schermata di login iniziale. Se non sei il titolare delle credenziali inserite Ti invitiamo a chiudere immediatamente AngelApp e ad astenerti dall’utilizzo del Servizio, che potrebbe ledere diritti di terzi.
	Per scaricare AngelApp e poter usufruire pienamente del Servizio l’Utente deve avere una connessione internet attiva sul proprio dispositivo mobile (i costi connessi con l’uso di internet dipendono dalle tariffe vigenti tra il singolo Utente ed il proprio fornitore di connessione internet).
	</li>
	<li>
	<b>Contenuto del Servizio </b> <br>
	AngelApp consente all’Utente di accedere direttamente e con procedimenti automatizzati, tramite il proprio dispositivo mobile, alle informazioni relative . I predetti dati saranno custoditi in osservanza con la vigente normativa in materia di trattamento dei dati personali.
	Al primo accesso all’applicazione verrà creato un profilo utente personale  tramite il quale visualizzare la mappa, poter inserire marker e potenzialmente poter visualizzare nomenclaturedi calli , vie etc..., secondo le evoluzioni  caratteristiche dell’applicazione.
	</li>
	<li>
	<b> Diritti e Obblighi dell’Utente </b> <br>
	Mediante l’accettazione dei presenti Termini e Condizioni d’uso l’utente:  conferma sotto la propria responsabilità di essere titolare delle credenziali inserite nella schermata di login iniziale;  si impegna ad usare dette credenziali unicamente per lo scopo per il quale esse sono create;  riguardo la gestione e il trattamento delle proprie credenziali dichiara di essere titolare dei Dati  consultati dall’Utente e dei Contenuti dallo stesso caricati sul proprio profilo e/o condivisi  - dall’Utente espressamene autorizzato ad utilizzarli, copiarli, riprodurli, elaborarli e trasmetterli in tutto o in parte a soggetti terzi.
	Resta inteso che l’Utente non potrà mai pretendere alcun pagamento per le licenze concesse al Titolare del Servizio, nè per l’uso posto in essere dallo stesso o dai sui aventi causa.
	L’Utente acconsente che AngelApp utilizzi i dati dalle comunicazioni HTTP con il dispositivo dell’utente al fine di effettuare analisi statistica e di verificare la corretta fruizione del Servizio.
	L’Utente, è consapevole e accetta che i Contenuti che condivide in qualsiasi modo  sul proprio profilo  possano essere visualizzati ed utilizzati da altri Utenti e che nel momento in cui li rende pubblichi chiunque utilizzi l' applicazione visualizzerà le modifiche effetuate.
	</li>
	<li>
	<b> Dati raccolti e uso </b> <br>
	Il Servizio raccoglierà: i dati personali dell’utente, ; i dati dalle comunicazioni HTTP; i Contenuti caricati dall’Utente sul suo profilo e/o condivisi con gli altri Utenti.
	I dati dell’Utente vengono raccolti per poter rendere l’uso del Servizio veloce .
	</li>

	<li>
	<b> Responsabilità dell’utente </b> <br>
	L’Utente è responsabile dell’uso che fa del Servizio nonché dei dati e dei Contenuti che carica su AngelApp e che condivide con gli altri Utenti. L’Utente garantisce che i Contenuti pubblicati su AngelApp e/o condivisi in qualunque altra modalità contemplata nel Servizio non violano alcun diritto d’autore, né diritto di proprietà industriale, né qualunque altro diritto di terzi.
	L’Utente si impegna a non inserire, fornire o in qualsivoglia modo pubblicare tramite il Servizio Contenuti offensivi o illegali, o comunque lesivi di diritti di terzi.
	In caso di contestazioni da parte di terzi (ivi compresi anche altri Utenti) riguardo a qualsiasi dato o Contenuto, o condotta posta in essere dall’Utente mediante l’utilizzo del Servizio, l’Utente se ne assume la piena responsabilità, sia nei confronti di terzi sia nei confronti del Titolare del Servizio.
	L’uso della posta elettronica da parte dell’Utente avviene a titolo meramente personale.
	L’Utente si assume il rischio derivante dall’uso di eventuali link o dati esterni ricevuti da altri utenti ovvero di qualsiasi contenuto ricevuto od utilizzato durante l’accesso al Servizio.
	L’Utente potrà in qualsiasi momento recedere dal presente accordo provvedendo all’invio di una mail all’indirizzo .......... contenente tale richiesta nonché disinstallando l’applicativo dal dispositivo.
	</li>
	<li>
	<b> Diritti e obblighi del Titolare del Servizio </b> <br>
	Il Titolare del Servizio concede all’Utente l’uso, non cedibile, del Servizio tramite AngelApp. L’Utente non potrà vantare alcun diritto su quanto di proprietà del Titolare del Servizio.
	Il Titolare del Servizio si impegna a conservare in un luogo idoneo i dati e le informazioni ricevute per il periodo necessario considerando l’uso a cui sono destinati. I dati relativi agli accounts che non sono utilizzati per più di un anno saranno eliminati. 
	</li>
	<li>
	<b> Uso della tecnologia beacons </b> <br>
	Il Servizio usa tecnologia beacons fornita da Google Inc. (U.S.A.) al fine il analizzare l’uso del servizio e per migliorare l’esperienza e la soddisfazione del cliente.
	Questa tecnologia permette di verificare se, ad ogni accesso dell’Utente, il Servizio funziona senza interruzioni e quali delle funzioni del Servizio vengono usate maggiormente. 
	Il Servizio usa anche Google Analytics per analizzare i dati web, le informazioni generate dai beacons sull’uso del Servizio verranno conservate da Google nei suoi server. Google per conto di del Titolare del Servizio userà le informazioni per valutare l’uso del Servizio da parte dell’Utente e compilerà dei report sull’uso del Servizio.
	</li>
	<li>
	<b> Dati forniti da terzi </b> <br>
	Il Titolare del Servizio non controlla né gestisce i dati, le informazioni,  pertanto i contenuti degli stessi sono stabiliti dal terzo il quale ne è esclusivo responsabile.
	Il Titolare del Servizio non offre alcuna garanzia in merito ai contenuti visualizzati durante l’uso del Servizio e non si assume nessuna responsabilità in merito.
	Tutte le transazioni commerciali stipulate tra l’Utente e il soggetto terzo pubblicizzante sono fatte al di fuori del Servizio e pertanto il Titolare del Servizio non offre alcuna garanzia in merito. Il Titolare del Servizio non diventa mai parte di dette transazioni. 
	L’Utente che scelga di utilizzare link o applicativi o altro fornito da terzi, durante l’uso del Servizio, lo fa assumendosi il rischio delle eventuali conseguenze della sua condotta.
	</li>
	<li>
	<b>Privacy </b> <br>
	I dati che vengono forniti dall’Utente ad Angel saranno trattati in accordo con l’Informativa sulla Privacy la quale regola la raccolta e l’utilizzo dei dati. L’Utente usufruendo del Servizio fornisce il proprio consenso alla raccolta e all’utilizzo dei dati come specificati nell’Informativa sulla Privacy, inclusa la memorizzazione, elaborazione e utilizzo. I dati che vengono trasmessi sono cifrati e custodi in osservanza della normativa prevista dal D.lgs. 196/2003 e vengono utilizzati per i soli scopi previsti dall’Informativa sulla Privacy e, se del caso, dalle specifiche autorizzazioni concesse dall’Utente. L’Utente, ai sensi dell’art. 7 D.lgs. 196/2003, ha diritto di conoscere in ogni momento i dati inseriti e l’uso che ne viene fatto. L’Utente può chiedere al Titolare del Servizio che cancelli i suoi dati ovvero che ne blocchi l’utilizzo.
	</li>
	<li>
	<b> Nessuna garanzia </b> <br>
	Il Titolare del Servizio non offre alcuna garanzia in merito alla veridicità ed accuratezza dei Dati che l’Utente, tramite Angel App, visualizza e/o inserisce nel portale , né dei Contenuti, dei siti oggetto di link né di quanto altro fornito da soggetti terzi (ivi inclusi altri Utenti).
	</li>
	<li>
	<b> Limitazione di responsabilità </b> <br>
	Il Titolare del Servizio, fatta salva l’applicazione di norme inderogabili, non presta alcuna garanzia circa il contenuto, la completezza e la correttezza delle informazioni pubblicate dal/e su AngelApp. Il Titolare del Servizio non rilascia alcuna garanzia e declina ogni responsabilità, nei limiti previsti dalla legge, per eventuali danni, diretti o indiretti (inclusi, senza limitazioni, danni per perdita di profitti, di interruzione di servizi o di perdite di dati) che possano derivare all’Utente dall’uso o dall’impossibilità di utilizzo del Servizio.
	Il Servizio è fornito dal Titolare del Servizio nello stato in cui si trova.
	In particolare, ma senza che da ciò derivi alcuna limitazione a quanto sopra, il Titolare del Servizio non rilascia alcuna garanzia e declina ogni responsabilità –nei limiti previsti dalla legge – in ordine a: a) la sicurezza, l’affidabilità, l’accuratezza e il funzionamento del Servizio; b) qualsivoglia danno ai sistemi informatici ovvero perdita di dati dell’Utente o qualsiasi danno che risulti dall’accesso al Servizio; c) la cancellazione o mancata memorizzazione dei dati.
	Eventuali responsabilità inderogabili per legge saranno comunque limitate ai soli Servizi ed ai soli contenuti del Titolare del Servizio, intendendosi espressamente esclusa qualsiasi responsabilità per eventuali danni diretti e/o indiretti, che siano conseguenza della condotta di utenti terzi, altri terzi, ovvero dell’accesso ed utilizzo abusivo dei dati.
	</li>
	<li>
	<b> Limitazioni nell'erogazione del Servizio </b> <br>
	Il Titolare del Servizio si riserva il diritto di modificare, sospendere o interrompere, in tutto o in parte, il Servizio in qualsiasi momento anche senza preavviso. 
	Il Titolare del Servizio non potrà essere ritenuto responsabile dei danni conseguenti alla mancata prestazione del Servizio a causa dell'errato o mancato funzionamento dei mezzi elettronici di comunicazione per cause da esso indipendenti. 
	A titolo esemplificativo, ma non esaustivo, il malfunzionamento dei server ed altri dispositivi elettronici anche non facenti parte integrante della rete Internet, malfunzionamento dei software installati, virus informatici, nonché da azioni di hacker o altri utenti aventi accesso alla rete.
	Il Servizio non potrà essere consultato od utilizzato attraverso strumenti che non siano le applicazioni ufficiali di Angel per le diverse piattaforme.
	</li>
	<li>
	<b> Validità e modifica </b><br>
	I presenti Termini e Condizioni d’uso del Servizio si considereranno applicabili, ove compatibili, anche in caso di ulteriori, diversi e specifici accordi.
	Il Titolare del Servizio potrà apportare in qualsiasi momento, a propria discrezione ed unilateralmente, modifiche ai presenti Termini e Condizioni d’uso del Servizio.
	L’uso continuativo del Servizio dopo tali modifiche, comporta una espressa presa di conoscenza e accettazione delle modifiche. Nel caso in cui sia richiesta l’accettazione espressa delle modifiche il Titolare del Servizio si impegna a provvedere in questo senso.
	<li>
	<b> Nullità parziale </b> <br>
	Nel caso in cui una clausola o parte del presente contratto dovesse essere ritenuta nulla, illecita o illegittima non andrà ad intaccare il resto del contratto e la sua validità ed efficacia.
	17. Foro competente e legge applicabile
	I rapporti tra Angel e gli utenti sono regolati dalla legge dello Stato italiano. Salvo quanto disposto da norme di legge inderogabili, il Tribunale sarà competente in via esclusiva a dirimere qualunque controversia riguardante i presenti Termini e Condizioni ed i rapporti ad esse connessi. 
	</li>
	</ul>

<md-button class="md-raised md-primary borderbut" style="position: relative; bottom: 1%; left: 35%; " ng-click="ctl.return()">letto?</md-button>
