<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <!--<script src="components/loader.js"></script>-->
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/style.css">
  <script>
  var Name;
  var Pass;
  var Passnew;
  var Passnew2;
  var map;
  var mappa_attiva = false;

  var showDialog = function(id) {
    document
      .getElementById(id)
      .show();
  };

  var hideDialog = function(id) {
    document
      .getElementById(id)
      .hide();
  };

  ons.bootstrap()
    .controller('AppController', function($scope) {
      this.load = function(page) {
        $scope.splitter.content.load(page);
        $scope.splitter.left.close();
      };

      this.toggle = function() {
        $scope.splitter.left.toggle();
      };
    });


    ons.caricaMappa = function(){
      console.log("1");
      map = L.map('map').setView([45.4217,12.3356], 13);

      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 19,
        minZoom: 13
      }).addTo(map);
    };


    ons.ready(function() {
      console.log("Onsen UI is ready!");
      setTimeout(function(){
        ons.caricaMappa();
        mappa_attiva = true;
        },1500)
    });
    var login = function() {
        Name = document.getElementById('username').value;
        Pass = document.getElementById('password').value;
        if (Name != null && Pass != null) {
            ons.notification.alert('Congratulations!');
            document.getElementById("c").style.visibility="hidden";
            console.log(Name);
        } else {
            ons.notification.alert('Incorrect username or password.');
        }

    };

    var codeAddress = function(){
      console.log(Name);
      document.getElementById("MyEdit").innerHTML = Name;
    };

    var changepassword = function(){
      Passnew = document.getElementById('newps').value;
      Passnew2 = document.getElementById('againps').value;
      if(Passnew2 != null && Passnew != null && Passnew.equals(Passnew2) && !Passnew.equals(Pass)){
        console.log(Passnew,Passnew2);
        onclick="showDialog(dialog-passwordcorretta)";
    }
    else  {
      onclick="showDialog(dialog-passwordnoncorretta)";
      }
  };

  </script>

</head>
<body>
  <ons-screen id="c" page="login.html">
    <ons-page>
      <br /><br />
      <ons-toolbar>
          <div class="center">Login Page Using Onsen UI </div>
      </ons-toolbar>
      <div style="text-align: center; margin-top: 30px;">
          <p>
              <ons-input id="username" modifier="underbar" placeholder="Username" float></ons-input>
          </p>
          <p>
              <ons-input id="password" modifier="underbar" type="password" placeholder="Password" float></ons-input>
          </p>
          <p style="margin-top: 30px;">
              <ons-button onclick="login()">Sign in</ons-button>
          </p>
      </div>
  </ons-page>
</ons-screen>

  <ons-splitter ng-controller="AppController as app" var="splitter">
    <ons-splitter-side side="left" width="220px" collapse swipeable>
      <ons-page>

        <ons-list>
          <ons-list-item ng-click="app.load('home.html')" tappable>
            Home
          </ons-list-item>
          <ons-list-item ng-click="app.load('settings.html')" tappable>
            Settings
          </ons-list-item>
          <ons-list-item ng-click="app.load('about.html')" tappable>
            About
          </ons-list-item>
        </ons-list>
      </ons-page>
    </ons-splitter-side>
    <ons-splitter-content page="home.html"></ons-splitter-content>
  </ons-splitter>

  <ons-template id="home.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Main
        </div>
      </ons-toolbar>
      <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
        Swipe right to open the menu!
      </p>
      <div id="map" class="Map" style="    position: fixed;
    left: 0px;
    top: 15%;
    height: 100%;
    width: 100%;
    z-index: 12;"></div>
    </ons-page>
  </ons-template>

  <ons-template id="settings.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Settings
        </div>
      </ons-toolbar>
      <ons-list-header>Information</ons-list-header>
  <ons-list-item modifier="nodivider"> Username: <div id="MyEdit"></div></ons-list-item>
    <ons-button onclick="codeAddress()">name</ons-button>
  <ons-list-item modifier="nodivider">Vecchia Password:<input type="text" id="oldps"></ons-list-item>
    </ons-list-item>
    <ons-list-item modifier="nodivider">Nuova Password:<input type="text" id="newps"></ons-list-item>
    <ons-list-item modifier="nodivider">Ripeti Nuova Password:<input type="text" id="againps"></ons-list-item>
    <button tappable onclick="changepassword()">
      Click for change
    </button>
     </ons-page>
    </ons-template>

  <ons-template id="about.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        </ons-toolbar>
        <div class="center">
          <ons-list>
                  <ons-list-header>Help</ons-list-header>
                  <ons-list-item tappable onclick="showDialog('dialog-1')">A cosa serve?</ons-list-item>
                  <ons-list-item tappable onclick="showDialog('dialog-2')">Come funziona?</ons-list-item>
                  <ons-list-item tappable onclick="showDialog('dialog-3')">Produttori</ons-list-item>
                  <ons-list-item tappable onclick="showDialog('dialog-4')">Come contattarci</ons-list-item>

    <ons-dialog id="dialog-1">
    <div style="text-align: center; padding: 10px;">
      <p>
        Viene usata per localizzare i pericoli e i luoghi di pericolo
      <p>

      <p>
        <ons-button onclick="hideDialog('dialog-1')">Close</ons-button>
      </p>
    </div>
  </ons-dialog>

  <ons-dialog id="dialog-2">
  <div style="text-align: center; padding: 10px;">
    <p>
       In base alla necessità posizionare i segnali preforniti con il segnale apposito nel luogo di pericolo
    <p>

    <p>
      <ons-button onclick="hideDialog('dialog-2')">Close</ons-button>
    </p>
  </div>
</ons-dialog>

<ons-dialog id="dialog-3">
<div style="text-align: center; padding: 10px;">
  <p>
    FormaUrbis
  <p>

  <p>
    <ons-button onclick="hideDialog('dialog-3')">Close</ons-button>
  </p>
</div>
</ons-dialog>

<ons-dialog id="dialog-4">
<div style="text-align: center; padding: 10px;">
  <p>
    Non contattateci
  <p>

  <p>
    <ons-button onclick="hideDialog('dialog-4')">Close</ons-button>
  </p>
</div>
</ons-dialog>

<ons-dialog id="dialog-passwordcorretta">
<div style="text-align: center; padding: 10px;">
  <p>
    La password è stata cambiata con successo
  <p>

  <p>
    <ons-button onclick="hideDialog('dialog-passwordcorretta')">Close</ons-button>
  </p>
</div>
</ons-dialog>

<ons-dialog id="dialog-passwordnoncorretta">
<div style="text-align: center; padding: 10px;">
  <p>
     Password non esatta
  <p>

  <p>
    <ons-button onclick="hideDialog('dialog-passswordnoncorretta')">Close</ons-button>
  </p>
</div>
</ons-dialog>



        </div>
</ons-list>
    </ons-page>
  </ons-template>
</body>
</html>
